* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
  min-height: 100dvh;
}
.container {
  /* border: 1px solid black; */
  padding: 20px;
  text-align: center;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 50px;
}
.heading {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 30px;
}
img {
  height: 20px;
  width: 20px;
}
h3 {
  font-size: 14px;
  font-weight: 500;
  color: rgb(36, 36, 38);
}
.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.social-btn {
  height: 48px;
  width: 350px;
  border: 1px solid #d2d2d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  transition-property: background-color, border-color, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer;
}
.social-btn:hover {
  background: #fefafaeb;
}

.separator {
  height: 0.5px;
  width: full;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #e5e5e8;
}

.email-password {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
input {
  height: 48px;
  width: 350px;
  border: 1px solid #d2d2d6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
}
input:hover {
  border: 1px solid #acacad;
  transition: border;
  transition-duration: 300;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.password {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}
.password h4 {
  font-size: 12px;
  font-family: "Inter";
  font-weight: 500;
  color: rgba(0, 0, 17, 0.53);
}

.password h4:hover {
  text-decoration: underline;
  text-decoration-color: #838282;
  text-decoration-thickness: 10%;
  text-underline-offset: 2px;
}
.password-input {
  position: relative;
}
.eye {
  position: absolute;
  right: 5%;
  top: 35%;
  color: red;
}

.sign-in {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  margin-top: 20px;
  background-color: #a6a6ae;
  border: none;
  color: #fafafb;
  font-size: 12px;
  font-weight: 600;
  font-family: "Inter", sans-serif;

  transition-property: background-color, border-color, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.sign-in:hover {
  background-color: #878789;
}

.sign-up {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(50, 50, 53);
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.sign-up > span {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-color: #d2d2d6;
  text-decoration-thickness: 1.5px;
}
.sign-up > span:hover {
  text-decoration-color: #080808;
}
